* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

#left {
	width: 20%;
	height: 758px;
	background-color: darkblue;
	float: left;
}

.left_img {
	text-align: center;
	border-bottom: 2px solid #696969;
}

.left_img img {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	margin-top: 20px;
}

#left_name {
	margin-top: 10px;
	margin-bottom: 10px;
}

#left_name p {
	color: #fff;
}

#name {
	height: 20px;
	width: 20px;
	margin: 0;
}

.left_main {
	border-bottom: 2px solid #696969;
}

#main {
	color: deepskyblue;
	margin-top: 20px;
	margin-left: 10px;
}

.left_main img {
	float: left;
	height: 20px;
	width: 20px;
	margin-top: 10px;
	margin-left: 20px;
	background-color: red;
}

#main_p {
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 60px;
	margin-bottom: 20px;
}

.left_admin {
	border-bottom: 2px solid #696969;
}

.left_admin img {
	float: left;
	height: 20px;
	width: 20px;
	margin-top: 10px;
	margin-left: 20px;
	background-color: red;
}

.main_p2 {
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 60px;
}

#p3 {
	margin-top: 50px;
}

#p4 {
	margin-bottom: 20px;
}