page-car {
    .content{
        background-color: #f0edec
    }
    .footer{
        background-color: #ffffff;
        height: 50px;
    }
    .shopadd{
        position: relative;
        left: 182px;
        top: -74px;
    }
    .che{
        position: relative;
        width: 32px;
        height: 17px;
        top: 74px
    }
    .che2{
        position: relative;
        top: 15px;
        width: 32px;
        height: 17px;
    }
    .span1{
        position: relative;
        top: -60px;
        left: 10px;
    }
    .price{
        position: relative;
        left: 112px;
        top:-50px;
        color: red
    }
    .lab{
        position: relative;
        left: 15%;
        top: 26px
    }
    .item1{
        height: 95px;
    }
    .span2{
        position: relative;
        left: 40px;
        top: -7px
    }
    .span3{
        position: absolute;
        right: 23%;
        top: 31%
    }
    .span4{
        color: red
    }
    .footer .label-md{
        margin: 0
    }
    .item-radio-checked.item-md ion-label{
        color:black
    }
    .jiesuan{
        text-align: center;
        position: relative;
        background:linear-gradient(to right, #ff7500, #ff6300, #ff4d01);
        left: 80%;
        top: -44px;
        width: 71px;
        height: 50px;
    }
    .jiesuan span{
        position: absolute;
        top: 25%;
        left: 33%;
        color: #ffffff;
        font-weight: 600
    }
    .checkbox-md .checkbox-checked{
        border-color: #ff4d01;
        background-color: #ff4d01
    }
    .footer .item.item-md .checkbox-md{
        margin: 0
    }
}
