<!--
  Generated template for the CarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>

  <ion-navbar color='home'>
    <ion-title style="width: 70%;">我的订单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content">
    <ion-item class="item1" *ngFor="let i of shop;let l=index">
        <input type="checkbox" class="che" (click)='sum(l,$event)'>
        <div class="lab">
          <img src="assets/imgs/gou02.jpg"width='100px'>
          <span class="span1">{{i.name}}</span>
          <p class="price">￥{{i.price}}</p>
          <div class="shopadd">
              <button class="next" (click)='next(l,$event)'>-</button>
              <input type="text" value="{{i.num}}" size="1" class="numb" id={{l}}>
              <button class="add" (click)='add(l,$event)'>+</button>
          </div>
        </div>
    </ion-item>
</ion-content>
<ion-footer class="footer">
  <ion-item class="radio1" no-lines>
      <input type="checkbox" (click)='all()' class="che2">
      <div>
        <span class="span2">全选</span>
        <span class="span3">合计 : <span class="span4">￥{{total}}</span></span>
      </div>
  </ion-item>
  <div class="jiesuan">
       <span>结算</span>
      </div>
</ion-footer>

<!-- <ion-item class="item1" *ngFor="let i of shop;let l=index">
    <ion-label>
      <div class="lab">
        <img src="assets/imgs/gou02.jpg"width='100px'>
        <span class="span1">{{i.name}}</span>
        <p class="price">￥{{i.price}}</p>
        <div class="shopadd">
            <button class="next" (click)='next(l)'>-</button>
            <input type="text" value="{{i.num}}" size="1" class="numb" id={{l}}>
            <button class="add" (click)='add(l)'>+</button>
        </div>
      </div>
    </ion-label>
      <ion-checkbox item-start class="che"  (click)='sum(l,$event)'></ion-checkbox >
  </ion-item> -->