page-mall {
    .searchbar-md .searchbar-input{
        border-radius: 50px;
        border: white 1px solid;
        background-color: transparent!important
    }
    .slide1{
        height: 30%;
        width: 100%;
        padding: 0
    }
}
