page-login {
    .scroll-content{
        padding-top: 100px;
    }
    ion-header{
        background-color:transparent !important;
        color: white;
    }
    ion-content{
        .item1{
            
        }
        background-image: url("../assets/imgs/bg_login.png") !important;
        background-size: 100%;
        ion-item{
            img{
                width: 50%;
            }
            background-color:transparent !important;
            color: white;
        }
        p{
            margin-left: 75%;
            color: white;
        }
        button{
            float: left;
            width: 30%;
            margin-left: 12.5% !important;
        }
    }
}
