page-searchpet {
    .footer button{
        width: 90%;
        margin: 0;
    }
    .list ion-item{
        padding: 0 10px;
        height: 250px;
    }
    .first_item img{
        width: 100%;
    }
    .first_item p{
        text-align: center;
    }
}
